* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-family: "Mulish", sans-serif;
}

body {
  background-color: rgb(70, 130, 180);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#block {
  width: 375px;
  height: 450px;

  background-color: rgb(43, 78, 108);

  border-radius: 10px;
  position: relative;
}

#loginTitle {
  width: 80%;
  text-align: center;
  color: white;
  font-size: 32px;
  font-weight: 200;
  position: absolute;
  left: 50%;
  top: 65px;
  transform: translate(-50%, -50%);
}

#email {
  height: 20px;
  width: 80%;
  color: white;
  font-size: 18px;
  font-weight: 100;
  position: absolute;
  left: 10%;
  top: 28%;
  /*background-color: yellow;*/
  height: 33px;
  /*border-bottom: 1px solid white;*/
}

#password {
  padding-bottom: 10px;
  width: 80%;
  color: white;
  font-size: 18px;
  font-weight: 100;
  position: absolute;
  left: 10%;
  top: 50%;
}

#emailText {
  position: relative;
  top: 0px;
  height: 33px;
}

#passwordText {
  position: relative;
  top: 3px;

  height: 40px;
}

#E,
#m,
#a,
#i,
#l {
  position: relative;
  display: inline-block;
  top: 0px;
  /*animation: bounceUp 600ms ease 0ms normal both;*/
  transition: all 0.25s;
  z-index: 1;
  transform: translate(0px, 0px);
}

#P,
#a,
#s,
#s,
#w,
#o,
#r,
#d {
  position: relative;
  display: inline-block;
  top: 0px;
  /*animation: bounceUp 600ms ease 0ms normal both;*/
  transition: all 0.25s;
  z-index: 1;
  transform: translate(0px, 0px);
}

#input1 {
  position: relative;
  top: -20.5px;
  caret-color: white;
  width: 100%;
  border: none;
  cursor: auto;
  background-color: rgb(43, 78, 108);
  display: none;
  color: white;
  cursor: pointer;
  height: 30px;
  font-size: 20px;
}

#input2 {
  position: relative;
  display: inline-block;
  top: -22.5px;
  display: none;
  caret-color: white;
  width: 100%;
  border: none;
  cursor: auto;
  background-color: rgb(43, 78, 108);

  color: white;
  cursor: pointer;
  height: 30px;
  font-size: 20px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

textarea {
  border: none;
  outline: none;
  resize: none;
  background-color: transparent;
}

#border-bottom {
  width: 80%;
  border-bottom: 1px solid white;
  position: relative;
  text-align: center;
  top: 160px;
  margin: 0 auto;
}

#border-bottom2 {
  width: 80%;
  border-bottom: 1px solid white;
  position: relative;
  text-align: center;
  top: 265px;
  margin: 0 auto;
}

#login {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: rgb(173, 217, 229);
  padding: 20px 0px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
}

#description {
  position: absolute;
  top: 88%;
  left: 10%;
  color: white;
}

#description span {
  color: rgb(173, 217, 229);
}
